Notebook

This is markdown cell for introduction.
So we are going to look some exercises from tools for data science course

List of data science languages are
1. Python
2. R
3. SQL
4. JavaScript
5. MATLAB
6. Scala
7. Julia
8. SAS

Various Data science libraries are

NumPy

Keras

Pandas

PyTorch

SciPy

Scikit-Learn

TensorFlow

Matplotlib

Seaborn

Pillow

Requests

Selenium

ScraPy

PyTest

PyUnit

Some Data science tools are
1. Jupyter
2. Apache spark
3. Microsoft Power BI
4. Tableau
5. Python
6. RStudio
7. SPSS
8. MySQL

We will see introduction of arithmetic expression example of addition and multiplication

Let a=10 and b=2

a+b = 10+2 = 12

a*b = 10 * 2 = 20

In [4]:
a=10
b=2
Add = a+b
mul = a*b
print('Addition of a and b is')
print(Add)
print('Multiplication of a and b is')
print(mul)

Addition of a and b is
12
Multiplication of a and b is
20

In [7]:
minutes= 380
hrs= int(minutes/60)
remaining = minutes % 60
print("Hours for 380 minutes will be")
print(hrs)
print("Remaing minutes will be")
print(remaining)

Hours for 380 minutes will be
6
Remaing minutes will be
20

Some Objectives are
1. Learn how to build robust, sustainable data pipelines
2. Deepen your knowledge of deep learning models.
3. Get up to speed on the latest research in NLG (natural language generation).
4. Get better at your current role.
5. Discover new ways to do good with data
6. Explore a new algorithm.
7. Get your hands dirty with a well-known dataset.
8. Reflect on your next career move.

How to indicate author's name:

Always list the author's surname before listing his or her initials. You only need to provide initials for the first and middle names, but do include initials for all middle names provided by the source. Include a comma after every last name and in-between different authors' names.
In this case i created this notebook so author's name will be Chaudhari Gaurav